
[AggregateDetails]
AGG_FRACTAL_DIMENSION_CENTER = 1.9 
AGG_FRACTAL_DIMENSION_STANDARD_DEVIATION = 0.2
  
AGG_FRACTAL_PREFACTOR_CENTER = 1.2  
AGG_FRACTAL_PREFACTOR_STANDARD_DEVIATION = 0  

AGG_EFF_DM_CENTER = 2.2  # mass mobility exponent for the result to be in kg/m^3
AGG_EFF_DM_STANDARD_DEVIATION = 0.01

AGG_EFF_RHO_100NM_CENTER = 450  # effective Density of 100nm aggregate in kg/m^3
AGG_EFF_RHO_100NM_STANDARD_DEVIATION = 1

AGG_MATERIAL_DENSITY_CENTER = 1800  # in kg/m^3
AGG_MATERIAL_DENSITY_STANDARD_DEVIATION = 20  # in kg/m^3

AGG_RI_REAL_CENTER = 1.95  
AGG_RI_REAL_STANDARD_DEVIATION = 0.2  

AGG_RI_IMAG_CENTER = 0.79
AGG_RI_IMAG_STANDARD_DEVIATION = 0.2  

AGG_WLENGTH_CENTER = 550 # in nm 
AGG_WLENGTH_STANDARD_DEVIATION = 20 # in nm  

AGG_POLYDISPERSITY_SIGMA_EACH_MOBILITY_CENTER = 1
AGG_POLYDISPERSITY_SIGMA_EACH_MOBILITY_STANDARD_DEVIATION = 0.01

AGG_PREFACTOR_PROJECTED_AREA_COEFFICIENT_CENTER = 1.13  # for Ka
AGG_PREFACTOR_PROJECTED_AREA_COEFFICIENT_STANDARD_DEVIATION = 0.02  # for Ka

AGG_EXPONENT_PROJECTED_AREA_COEFFICIENT_CENTER = 1.1  # for D_alpha
AGG_EXPONENT_PROJECTED_AREA_COEFFICIENT_STANDARD_DEVIATION = 0.02  # for D_alpha

AGG_MOBILITY_DIAMETER_CENTER_MAX = 950 # in nm
AGG_MOBILITY_DIAMETER_CENTER_MIN = 50 # in nm

AGG_AERODYNAMIC_DIAMETER_CENTER = 250  # in nm
AGG_AERODYNAMIC_DIAMETER_STANDARD_DEVIATION = 5  # in nm

AGG_PRIMARY_DIAMETER_CENTER = 65 # in nm 
AGG_PRIMARY_DIAMETER_STANDARD_DEVIATION = 25 # in nm  

AGG_PRIMARY_NUMBER_CENTER = 300 
AGG_PRIMARY_NUMBER_STANDARD_DEVIATION = 100 

AGG_POLYDISPERSITY_SIGMA_WITHIN_CENTER = 1
AGG_POLYDISPERSITY_SIGMA_WITHIN_STANDARD_DEVIATION = 0 
 
AGG_EXPONENT_FREE_MOLECULAR_D_MFM_CENTER = 0.46 
AGG_EXPONENT_FREE_MOLECULAR_D_MFM_STANDARD_DEVIATION = 0.01  

AGG_EXPONENT_CONTINUUM_REGIME_D_MC_CENTER = 0.52 
AGG_EXPONENT_CONTINUUM_REGIME_D_MC_STANDARD_DEVIATION = 0.01 

AIR_TEMPERATURE_CENTER = 298  # in Kelvin
AIR_TEMPERATURE_STANDARD_DEVIATION = 2  # in Kelvin

AIR_PRESSURE_CENTER = 93900  # in Pascal
AIR_PRESSURE_STANDARD_DEVIATION = 100  # in Pascal

PAX_ABSORPTION_COEFFICIENT_CENTER = 366.69  # in (1/Mm)
PAX_ABSORPTION_COEFFICIENT_STANDARD_DEVIATION = 15.6  # in (1/Mm)

PAX_SCATTERING_COEFFICIENT_CENTER = 102.66  # in (1/Mm)
PAX_SCATTERING_COEFFICIENT_STANDARD_DEVIATION = 5.21  # in (1/Mm)

PAX_WAVE_LENGTH_CENTER = 870  # in nm
PAX_WAVE_LENGTH_STANDARD_DEVIATION = 10  # in nm

CPC_NUMBER_DENSITY_CENTER = 2751.55  # in  (#/cc)
CPC_NUMBER_DENSITY_STANDARD_DEVIATION = 133.71  # in  (#/cc)

MONTECARLO_ARRAY_SIZE = 10000
MONTECARLO_RANDOM_SIZE = 1000

VERSION = 0.2

[FilesFoldersInfo]
FOLDER_NAME_GRAPH = Graph Output
FOLDER_NAME_DATA = TMatrix_RDG_Result
FOLDER_NAME_BC_DATABASE = BC-DB-Liu-V1
FOLDER_NAME_RESULTS = Results
FOLDER_NAME_DATABASE = Database
FOLDER_NAME_OPTIMIZATION = Optimization
FOLDER_NAME_CSV = CSV
FILE_NAME_SAMPLE_INPUT = input_Sample
FILE_NAME_MODIFIED_INPUT = input
FILE_NAME_MODIFIED_OUTPUT = output
FILE_NAME_BC_DATABASE_EXE = FA_OPD
FILE_NAME_BC_DATABASE_1p8 = FA_1p8
FILE_NAME_BC_DATABASE_2p3 = FA_2p3
FILE_NAME_BC_DATABASE_2p8 = FA_2p8

[DatabaseInfo]
Host = localhost
Port = 3306
Username = USERNAME
Password = PASSWORD
DBName = BC_DB_Liu_V1

[LoggingInfo]
format = %(asctime)s, %(message)s
datefmt = %m/%d/%Y %I:%M:%S %p
filename = Log.txt
level = info
filemode = w
